.gray-box {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0, 0, 0, .14);
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
  }

  .title {
    padding-left: 30px;
    position: relative;
    z-index: 0;
    height: 60px;
    padding: 10px 10px 0 24px;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(0, 0, 0, .06) 0 1px 7px;
    background: #f3f3f3;
    background: -webkit-linear-gradient(#fbfbfb, #ececec);
    background: linear-gradient(#fbfbfb, #ececec);
    line-height: 60px;
    font-size: 18px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #626262;
    display: inline-block;
  }

  .order-info {
    padding: 50px 0 0px;
    color: #333;
    background: #fff !important;
  }

  h3 {
    padding-bottom: 14px;
    line-height: 36px;
    text-align: center;
    font-size: 36px;
    color: #212121;
  }
      
  .payment-detail {
    text-align: center;
    font-size: 14px;
    color: #999;
  }

  p {
    margin: 0 0 0 0;
  }

  .box-inner {
    line-height: 60px;
    background: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    
  }

  .box-inner > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }

  .box-inner em {
    margin-left: 5px;
    font-size: 24px;
    color: #d44d44;
    font-weight: 700;
    margin-right: 20px;
    font-style: normal;
  }

  .box-inner span {
    margin-right: 4px;
    font-size: 16px;
  }

  .main-btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;

    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;

    background-color: #5c81e3;
    background-image: linear-gradient(180deg, #678ee7, #5078df);

    border: 1px solid #5c81e3;
    border-radius: 4px;
    color: #fff;
  }

  .main-btn:hover {
    background-color: #6c8cd4;
    background-image: -webkit-linear-gradient(top, #6c8cd4, #4769c2);
    background-image: linear-gradient(180deg, #6c8cd4, #4769c2);
  }

  .disabled-btn {
    display: inline-block;
    cursor: not-allowed;
    text-align: center;

    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;

    border: 1px solid #afafaf;
    border-radius: 4px;
    color: #fff;
    
    background-color:#afafaf;
    background-image: -webkit-linear-gradient(top, #b8b8b8, #a9a9a9);
    background-image: linear-gradient(180deg, #b8b8b8, #a9a9a9);
  }

  .pay-info{
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

.form-group .control-label {
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 15px;
  overflow: hidden;
}

.form-control {
  display: inline;
  width:  335px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border: 1px solid #e2e2e4;
  box-shadow: none;
  color: #000000;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.pay-type {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 30px;
}

.p-title {
  font-size: 18px;
  line-height: 40px;
  padding: 0 10px;
  position: relative;
  
}

.p-title:before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ccc;
}

.pay-type .pay-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pay-type .pay-item div {
  margin-top: 20px;
  width: 175px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E5E5E5;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 10px;
  background: #FAFAFA;
  
}

.pay-type .pay-item .active {
  border-color: #6A8FE5;
  background: #fff;
}

.pay-type .pay-item div img {
  display: block;
  height: 34px;
  margin: 8px auto;
}

.red-txt{
  color: red;
}

.payment-money {
  text-align: center;
  font-size: 30px;
  color: #d44d44;
  font-weight: 700;
}

.img-box{
  position: relative;
  width: 180px;
  height: auto;
  min-height: 168px;
  margin: 0 auto;
  padding: 6px;
  border: 1px solid #d3d3d3;
  box-shadow: 1px 1px 1px #ccc;
  display: inline-block;
}

img {
  max-width: 168px;
}

.explain {
  margin: 5px 0 12px 0;
}

.pic{
  margin-top: 3px;
}

.fn-left{
  margin-left: -5px;
  margin-top: -20px;
}

.fn-right{
  font-size: 13px;
  color: #4D4D4D;
  line-height: 18px;
  margin: -57px 0 0 33px;
}

.download-alipay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: -5px;
  font-size: 12px;
  color: #a6a6a6;
  text-decoration: underline;
}

.qrguide-area {
  position: absolute;
  top: 96px;
  left: 838px;
  width: 204px;
  height: 183px;
  cursor: pointer;
}

.show-img{
  display: block;
}

.close-img{
  display: none;
}

.red {
  position: absolute;
  top: 482px;
  left: 1151px;
  width: 47px;
  height: 50px;
  cursor: pointer;
}

.el-dialog--small {
  width: 30%;
}

.qr-red {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.myprice{
    color: #d44d44;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
}

.content {
  padding: 100px 0;
  font-size: 30px;
  text-align: center;
}

.mybtn{
  width: 150px;
  height: 50px;
  line-height: 48px;
  font-size: 20px;
}